body{
    margin: 0;
}
.banner{
    width: 100%;
    height: 90px;
    background-color: #009dd7;
    background-image: url(../imgs/pattern.png);
    background-size: 25%;
}

.logo{
    position: relative;
    background-image: url(../imgs/logo.svg);
    height: 45%;
    background-repeat: no-repeat;
    opacity: 0.8;
    top: 50%;
}

#title{
    margin-top: 5px;
    margin-bottom: 0;
}

.writtedby_text{
    color: #b3b2b2;
    font-size: smaller;
}

#data_text{
    color: #b3b2b2;
    font-size: x-small;
}

#text_booleaner{
    color: #009dd7;
    font-weight: bold;
}

.photo{
    font-size: smaller;
    margin-left: 0;
    font-style: italic;
}

.imgs{
    width: 650px;
    height: 400px;
}

.bg_color{
    background-color: yellow;
}

#list{
    padding-left: 1%;
}

.table-x{
    width: 100%;
    border-spacing: 0;
}

.table-y{
    text-align: start;
    width: 33%;
    
}

.color_table{
    background-color: rgb(138, 162, 250);
}

#color_thead{
    background-color: #009dd7;
}

.settima{
    background-image: url(../imgs/settima.webp);
    background-size: cover;
    color: #FFFFFF;
}

.ottava{
    background-image: url(../imgs/ottava.jpeg);
    background-size: cover;
    color: #0000ff;
}

.footer_imgs{
    width: 150px;
    height: 150px;
}